### === Task 1 ===

1. Load the csv file "howlongwelive.csv" in the data folder into dataframe <br>
Hint: https://www.kaggle.com/rtatman/reproducibility-tips-absolute-vs-relative-paths

2. Print the first 2 rows, and last 2 rows

3. Print the shape

4. Print the feature (column) names

5. Print the summary using .describe()

6. Since Hepatatis B has a lot of nans, and highly correlate with Diptheria, drop column Hepatatis.  Also drop column Population since there are way too many nans

7. Convert <code>Status</code> to 0 or 1. (0 for Developing and 1 for Developed)

8. Rename column <code>thinness 1-19 years</code> to <code>thinness 10-19 years</code>

9. Get all columns except Life Expectancy, and convert to numpy array called X

10. Get the column life expetancy and convert to numpy array called y

In [1]:
# 1.
import pandas as pd
data = pd.read_csv('data/howlongwelive.csv')
data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [2]:
# 2.
print(data.iloc[:2,:2])

# 3.
print("Shape: ",data.shape)

       Country  Year
0  Afghanistan  2015
1  Afghanistan  2014
Shape:  (2938, 22)

In [3]:
# 4.
print("Features: ", data.keys())
# OR: print("Features:", data.columns)

Features:  Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [4]:
# 5.
data.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [5]:
# 6.
data.drop(['Hepatitis B','Population'], axis=1, inplace=True)

In [6]:
# 7.
'''
data.loc[data.Status == "Developing"] = 0
data.loc[data.Status == "Developed"] = 1
'''

'''
factorize
1. unique values - np.unique -> ["Developing", "Developed"]
2. give 0, 1, 2, ...                 -> [      0          ,         1        ]
'''
labels, levels = pd.factorize(data["Status"])
data["Status"] = labels
data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,0,65.0,263.0,62,0.01,71.279624,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,17.2,17.3,0.479,10.1
1,Afghanistan,2014,0,59.9,271.0,64,0.01,73.523582,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,17.5,17.5,0.476,10.0
2,Afghanistan,2013,0,59.9,268.0,66,0.01,73.219243,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,17.7,17.7,0.470,9.9
3,Afghanistan,2012,0,59.5,272.0,69,0.01,78.184215,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,17.9,18.0,0.463,9.8
4,Afghanistan,2011,0,59.2,275.0,71,0.01,7.097109,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,18.2,18.2,0.454,9.5

In [7]:
# 8.
data = data.rename(columns={' thinness  1-19 years': ' thinness  10-19 years'})
data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,thinness 10-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,0,65.0,263.0,62,0.01,71.279624,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,17.2,17.3,0.479,10.1
1,Afghanistan,2014,0,59.9,271.0,64,0.01,73.523582,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,17.5,17.5,0.476,10.0
2,Afghanistan,2013,0,59.9,268.0,66,0.01,73.219243,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,17.7,17.7,0.470,9.9
3,Afghanistan,2012,0,59.5,272.0,69,0.01,78.184215,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,17.9,18.0,0.463,9.8
4,Afghanistan,2011,0,59.2,275.0,71,0.01,7.097109,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,18.2,18.2,0.454,9.5

In [8]:
# 9.
X = data.drop(['Life expectancy ','Country'], axis=1).values.astype(float)
X.shape

(2938, 18)

In [9]:
# 10.
y = data['Life expectancy '].values.astype(float)
y.shape

(2938,)

# factorize

In [10]:
labels, levels = pd.factorize(data["Status"])

In [11]:
import numpy as np
np.nan + 5

nan

### === Task 2 ===

1. Continuing "howlongwelive.csv", check whether which column has how many missing data

2. Fix all missing data using means

3. Perform a <code>groupby</code> country.  Which country has the lowest/highest average life expectancy?

4. Perform a <code>groupby</code> status.  Is there any strong difference between developed and developing countries in their life expectancy?

5. Create another dataframe manually with 2 columns. First column is the ID column with same value as country column. Also add another column Noise_level, and populate with random values (whatever you like).  

6. Merge the two datasets together based on the ID column.

### **** Review again ****

In [27]:
# 1.
data = pd.read_csv('data/howlongwelive.csv')
any(data.isnull())

True

In [71]:
# 2.
data.fillna(data.mean(),inplace=True)
any(data.isnull())

True

In [78]:
# 3.
Country_grouped = data.groupby('Country')
series = Country_grouped['Life expectancy '].mean()
print("Highest: ",series.idxmax())
print("Sorted: \n",series.sort_values())
print("Thailand:",series.loc['Thailand'])

Highest:  Japan
Sorted:
 Country
Sierra Leone                46.11250
Central African Republic    48.51250
Lesotho                     48.78125
Angola                      49.01875
Malawi                      49.89375
                              ...
France                      82.21875
Switzerland                 82.33125
Iceland                     82.44375
Sweden                      82.51875
Japan                       82.53750
Name: Life expectancy , Length: 193, dtype: float64
Thailand: 73.08125

In [47]:
# 4.
Status_grouped = data.groupby('Status')
Status_grouped['Life expectancy '].mean()

Status
Developed     79.197852
Developing    67.120177
Name: Life expectancy , dtype: float64

In [80]:
# 5.
import numpy as np
Noise_level = np.random.uniform(0,1,data.shape)
populate = np.random.uniform(0,1,data.shape[0])
df = pd.DataFrame(data['Country'])

### === Task 3 ===

1. Load "data/appl_1980_2014.csv" into df

2. Transform Date column to datetime type

3. Then filter only with year not less than 1987

4. Sort the index in an ascending order (oldest date first) - use sort_index

5. We want to know how apple does on end of every month, thus get the mean value for each columns, resample at last buiness day of each month (i.e., BM)

6. BTW, how many months do we have in our data?

7. Compare the differences between this year and last year High column, using shift(), where the differences is simply this_year - last_year.  Plot this graph, where x-axis is date, and y-axis is the gain/loss

8. Perform a rolling mean (moving average) of Close with window size of 100 days

9. Load microsoft data using this code <code>microsoft = data.DataReader('MSFT', start='1987', end='2014', data_source='yahoo')</code>.  Compare Apple and Microsoft of their return rate of "close" price based on year 2000 onward, where the formula is simply <code>close price / close price [0]</code> where close price [0] is simply the first close price of year 2000.

In [113]:
# 1.
data = pd.read_csv('data/appl_1980_2014.csv')
print(data.shape)
data.head()

(8465, 7)

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

In [92]:
type(data['Date'])

pandas.core.series.Series

In [99]:
# 2.
data['Date'] = pd.to_datetime(np.array(data['Date']))
type(data['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [117]:
# 3.
data_filter = data[data['Date'] > '1987-01-01']
print(data_filter.shape)

(6936, 7)

In [122]:
# 4.
data_filter.sort_index(ascending=False)

            Date   Open   High    Low  Close     Volume  Adj Close
6935  1987-01-02  40.37  41.13  40.13  40.87   30217600       0.64
6934  1987-01-05  41.25  43.25  41.00  43.00   59920000       0.67
6933  1987-01-06  43.13  44.00  42.62  43.75   81200000       0.68
6932  1987-01-07  43.87  44.88  43.63  44.75  108640000       0.70
6931  1987-01-08  44.75  45.12  44.50  44.75   72800000       0.70
...          ...    ...    ...    ...    ...        ...        ...
4     2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
3     2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
2     2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
1     2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
0     2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35

[6936 rows x 7 columns]

In [146]:
data_filter.set_index = data_filter['Date']
data_filter.resample('3T')

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'